.header {
    background-color: #222222;
    display:flex;
    justify-content: center;
}
.container-hadding {
    height: 75px;
    width: 1600px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    height: 38px;
    width: 106px;
    margin-left: 231px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 860px;
}
.header-menu {
    height: 29px;
    width: 159px;
    margin-right: 239px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}
.header_brand {
    background-color: #F1E4E6;
    display:flex;
    justify-content: center;
}
.container-brand {
    height: 764px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
    width: 1600px;
    display:flex;
    justify-content: space-between;
}
.brand-person {
    width: 50%;
    height: 100%;
}
.brand-title {
    margin-right: 331px;
    margin-top: 290px;
    height: 93px;
    width: 337px;
    display: flex;
}

.text-900::before {
    content: "";
    background-color: #F16D7F;
    position: absolute;
    height: 92px;
    width: 12px;
    left: -28px;
}
.content {
    display:flex;
    justify-content: center;
}
.container-content {
    border: 1px solid #000;
    height: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
    width: 1600px;
}

